*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    background-color: black;
    color: blanchedalmond;
    display: flex;
    justify-content: center;
    padding: 2%;
    position: fixed;
    width: 100%;
    z-index: 123456789;
}
.main-div{
    background-color: red;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.trivia-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blue;
    padding: 3vh;
}
.box-selection{
    margin-bottom: 2vh;
}

.pregunta{
    display: none;
    position: fixed;
    background-color: black;
    z-index: 900;
    width: 100vw;
    height: 100vh;
}

.pregunta.agrego{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: black;
    z-index: 900;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: wheat;
}

.contenedor-flechas{
    display: flex;
    justify-content: space-between;
    width: 30vh;

}
.flechas{
    width: 50px;
    height: 50px;
    
}
.flecha-izquierda{
    display: flex;
    flex-direction: column;
}

.flecha-derecha{
    display: flex;
    flex-direction: column;
}
.pregunta-titulo{
    margin-bottom: 10px;
}

.espacio-botton{
    margin-bottom: 10px;
}